
    <header>
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-teal scrolling-navbar" [containerInside]="false">
            <logo>
                <a class="logo navbar-brand" href="#">
                    <strong>Superfluid</strong>
                </a>
            </logo>
            <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active waves-light" mdbRippleRadius>
                        <a class="nav-link">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">Features</a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">Opinions</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </links>
        </mdb-navbar>

        <div id="intro" class="view hm-black-strong">
        
                <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
            
                    <div class="row d-flex justify-content-center">
            
                        <div class="col-md-10 text-center">
            
                            <!-- Heading -->
                            <h2 class="display-3 font-bold white-text mb-2">Superfluid</h2>
            
                            <!-- Divider -->
                            <hr class="hr-light">
            
                            <!-- Description -->
                            <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
                            <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>
            
                        </div>
            
                    </div>
            
                </div>
            
            </div>


    </header>
<main>
<div class="container">
<!--Section: Features v.2-->
<section class="text-center text-white">

        <!--Section heading-->
        <h1 class="py-5 font-weight-bold">Onze aanpak</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead">Gebaseerd op jarenlange ervaring hebben we de ontwikkelingen van de laatste jaren in de IT development, bij elkaar gezet. 
                Qua project structuur, ontwerp methodiek, test methodiek en software development is er een uitzonderlijke mix mogelijk.
                Dit maakt het mogelijk projecten, ongeacht hun omvang, aan te pakken en een robuuste, onderhoudbare produkt op te leveren. Een goede basis voor succes in de aanstaande twintiger jaren van deze eeuw.
                </p>
    
        <!--Grid row-->
        <div class="row text-left">
    
        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
            <i class="fa fa-bullhorn fa-2x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">Onderwijs</h4>
            <p class="grey-white">Wil graag efficiente opleidingen aanbieden. Zij willen een verbinding vormen tussen onderwijs vragende studenten en het bedrijfsleven.</p>
            <a class="btn btn-sm ml-0">Meer lezen</a>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
            <i class="fa fa-cogs white-text fa-2x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">Masterclass</h4>
            <p class="white-text">Verbindt door snel cursisten op te leiden tot professional developer, tester, scum master, produkt owner.</p>
            <a class="btn btn-sm ml-0">Verder lezen</a>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
            <i class="fa fa-dashboard white-text fa-2x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">Het bedrijfsleven</h4>
            <p class="white-text">Ontvangen met open armen goed opgeleide ICT'ers.</p>
            <a class="btn btn-sm ml-0">Lees verder</a>
            </div>
        </div>
        <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.2-->


</div>

<br>
<br>
<br>
<div class="container">
<section class="white-text">

        <!--Section heading-->
        <h1 class="py-5 font-weight-bold text-center">De voordelen voor het reguliere onderwijs</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>
    
        <!--Grid row-->
        <div class="row pt-2">
    
        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
            <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-7">
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
               
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Het nut voor de student</h5>
                <p class="text-left">Aansluiting opleiding op de Arbeidsmarkt<br>Vroegtijdige kennismaking met potentiële Werkgevers<br>Zicht op baangarantie tijdens de Opleiding<br>De opleiding bevat zeer actuele onderdelen die gevraagd worden vanuit het Bedrijfsleven<br>Werken aan proof of concepts of pilot projecten, gebaseerd op bestaande situaties in het bedrijfsleven</p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
               
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Het nut voor de onderwijs instellingen</h5>
                <p class="text-left">Een praktische aanvulling van de bestaande opleiding<br>Zicht op arbeidsgarantie wordt nog tijdens de opleiding bepaald i.s.m. opdrachtgevers. Dit komt de motivatie ten goede<br>Verhoging van de kwaliteit van het studieprogramma door een nauwere kennisdeling met werknemers en werkgevers uit het bedrijfsleven<br>De aangeboden modules zullen altijd actueel blijven door het bijhouden van de technologische ontwikkelingen</p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
                
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Het nut voor de docenten</h5>
                <p class="text-left">Superfluid verzorgt een deel van de opleiding en houdt zich tegelijkertijd bezig met het benaderen van werkgevers voor stage en-/of werk en de daarbij behorende begeleiding<br>Met kennisdeling van actuele ontwikkelingen bij werkgevers, gaan wij inhoudelijk in gesprek en aan het werk met studenten en Docenten<br>Superfluid bekijkt het aangeboden studieprogramma vanuit een holistische benadering; Het geheel dient een hoger doel zoals een nauwe aansluiting met de arbeidsmarkt en tevreden studenten en werkgevers</p>
            </div>
            </div>
            <!--Grid row-->
    
        </div>
        <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<section class="white-text">

        <!--Section heading-->
        <h1 class="py-5 font-weight-bold text-center">Het nut voor overheid/bedrijfsleven</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>
    
        <!--Grid row-->
        <div class="row pt-2">
            
            <div class="col-lg-7">
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
               
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Gemotiveerde vaste mensen</h5>
                <p class="text-left"><li>Inspraak en inzicht in de opleiding</li><li>Transparantie Inzetbaarheid</li><li>Voorselectie door i.s.m. Superfluid en opleidingsinstituut</li></p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
               
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Soepele bedrijfsvoering</h5>
                <p class="text-left"><li>Grote flexibiliteit Werknemers</li><li>Actuele en relevante kennis stroomt in</li><li>Relatief lagere kosten dan via reguliere HR aannameproces</li></p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
                
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">Meer succes</h5>
                <p class="text-left"><li>Superfluid selecteert op zowel kennis als motivatie van kandidaten. Wij zien graag talent doorstromen naar een passende en duurzame uitdaging<li>Door continu te werken aan een goede aansluiting tussen opleiding en arbeidsmarkt, vergroten wij de kans op een goede match aanzienlijk</li></p>
            </div>
            </div>
            <!--Grid row-->
    
        </div>
        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
                <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
            </div>
        </div>
        <!--Grid row-->
    
    </section>
</div>

<div class="container">
<section class="white-text">

        <!--Section heading-->
        <h1 class="py-5 font-weight-bold text-center">Onze Masterclass DEVOPS die zonder poespas direct naar een specialisatie in een zekere discipline leidt</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>
    
        <!--Grid row-->
        <div class="row pt-2">
    
        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
            <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-7">
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
              
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">De onderwerpen van de masterclass</h5>
                <p class="text-left"><li>Confluence voor de productowner (Business Features), ontwerper (Confluence Taken)</li><li>Jira voor de scrum master, bouwers en testers</li><li>JAVA EE7/EE8 voor de backend developers (Eclipse , Intellij, GIT , Maven)</li><li>Angular 5 en later voor de frontend developer (Visual Studio Code)</li><li>JMeter voor de backend tester</li><li>Selenium en Angular 5 Unit tests voor de frontend tester</li><li>Databases (DB2, Postgres, Oracle)</li><li>Extra: CQRS (Axon Framework) als opkomend Event Based Framework, en opstart naar Blockchain technologie</li></p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
                
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">De specialisaties van de masterclass</h5>
                <p class="text-left"><li>Product Owners, scrum masters</li><li>Ontwerpers, Analisten</li><li>Software ontwikkelaars</li><li>Testers voor automatisch testen</li></p>
            </div>
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row pb-3">
            <div class="col-2 col-md-1">
               
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold text-left mb-3">U kunt ze inzetten:</h5>
                <p class="text-left">In een devops team<br><li>Continuous development en delivery</li></p>
            </div>
            </div>
            <!--Grid row-->
    
        </div>
        <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
</div>

<div class="container">

        <section class="team-section pb-5 white-text">
        
                <!--Section heading-->
                <h2 class="h1 text-center py-5">Our amazing team</h2>
                <!--Section description-->
                <p class="pb-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
                    esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
        
                <div class="row text-center">
        
                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
        
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded img-fluid z-depth-1-half" alt="First sample avatar image">
                        </div>
                        <h4 class="font-weight-bold">
                            <strong>John Doe</strong>
                        </h4>
                        <h6 class="grey-text">Photographer</h6>
        
                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-fb ">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!--Dribbble-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-dribbble ">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-tw ">
                            <i class="fa fa-twitter"></i>
                        </a>
        
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
        
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded img-fluid z-depth-1-half" alt="Third sample avatar image">
                        </div>
                        <h4 class="font-weight-bold">
                            <strong>John Doe</strong>
                        </h4>
                        <h6 class="grey-text">Web Developer</h6>
        
                        <!--Linkedin-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-li">
                            <i class="fa fa-linkedin "></i>
                        </a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-tw">
                            <i class="fa fa-twitter "></i>
                        </a>
                        <!--Pinterest-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-pin">
                            <i class="fa fa-pinterest "></i>
                        </a>
        
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
        
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded img-fluid z-depth-1-half" alt="Third sample avatar image">
                        </div>
                        <h4 class="font-weight-bold">
                            <strong>John Doe</strong>
                        </h4>
                        <h6 class="grey-text">Web Developer</h6>
        
                        <!--Linkedin-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-li">
                            <i class="fa fa-linkedin "></i>
                        </a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-tw">
                            <i class="fa fa-twitter "></i>
                        </a>
                        <!--Pinterest-->
                        <a type="button" class="btn-floating btn-sm mx-1  btn-pin">
                            <i class="fa fa-pinterest "></i>
                        </a>
        
                    </div>
                    <!--Grid column-->
                </div>
        
            </section>


</div>



 

    </main>
 
    <footer>
        <footer class="page-footer font-small bg-teal lighten-4 pt-4 mt-4">
      
          <!--Footer Links-->
          <div class="container-fluid text-center text-md-left">
              <div class="row">
      
                  <!--First column-->
                  <div class="col-md-6">
                      <h5 class="text-uppercase">Footer Content</h5>
                      <p>Here you can use rows and columns here to organize your footer content.</p>
                  </div>
                  <!--/.First column-->
      
                  <!--Second column-->
                  <div class="col-md-6">
                      <h5 class="text-uppercase">Links</h5>
                      <ul class="list-unstyled">
                          <li><a href="#!">Link 1</a></li>
                          <li><a href="#!">Link 2</a></li>
                          <li><a href="#!">Link 3</a></li>
                          <li><a href="#!">Link 4</a></li>
                      </ul>
                  </div>
                  <!--/.Second column-->
              </div>
          </div>
          <!--/.Footer Links-->
      
          <!--Copyright-->
          <div class="footer-copyright py-3 text-center">
              <div class="container">
                  © 2015 Copyright: <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
      
              </div>
          </div>
          <!--/.Copyright-->
      
      </footer>
    </footer>

